pkgbase = aria-git
	pkgdesc = Aria - Linux-native Legend Online client (PyQt5 + WebEngine + PepperFlash)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/drake2202/aria
	install = aria.install
	arch = x86_64
	license = custom
	makedepends = python-pip
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = qt5-base
	depends = qt5-webengine
	depends = python
	depends = python-pyqt5
	depends = python-aiohttp
	depends = python-requests
	provides = aria
	conflicts = aria

pkgname = aria-git
